<h1>Histórias de Sucesso</h1>

<table>
  <thead>
    <tr>
      <th>Nome do Bicho</th>
      <th>Dono</th>
      <th>Foto</th>
      <th>Descrição</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @success_stories.each do |success_story| %>
      <tr>
        <td><%= success_story.pet_name %></td>
        <td><%= success_story.owner %></td>
        <td><%= success_story.photo %></td>
        <td><%= success_story.description %></td>
        <td><%= link_to 'Exibir', success_story %></td>
        <td><%= link_to 'Editar', edit_success_story_path(success_story) %></td>
        <td><%= link_to 'Excluir', success_story, method: :delete, data: { confirm: 'Tem Certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova História de Sucesso', new_success_story_path %>
