<p>
  <strong>Nome:</strong>
  <%= @teammate.name %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @teammate.photo %>
</p>

<p>
  <strong>Apelido:</strong>
  <%= @teammate.nickname %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @teammate.description %>
</p>

<%= link_to 'Editar', edit_teammate_path(@teammate) %> |
<%= link_to 'Voltar', teammates_path %>
